
// colors 
$primary: #F4E041;
$secondary: #00BDD3;
$background: #F8F8F8;
$error: #CB3D40;
$disabled: #B4B4B4;
$hover: #FFE302;

// width of container
$small: 361px;
$medium: 769px;
$big: 1025px;
$superBig: 1171px;