.contSuccess{
    text-align: center;
    h2{
        font-size: 40px;
        line-height: 40px;
        font-weight: 400;
        margin-bottom: 50px;
    }
    img{
        width: 328px;
        height: 290px;
        margin: 0 auto;
    }
}