@import '../variables/variables';

.userItemCont{
    background: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 20px;
    p{  
        margin: 0 auto;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        &:hover{
            cursor: pointer;
        }
    }
    img{
        width: 70px;
        height: 70px;
        margin: 0 auto 20px;
    }
}
.subInfo{
    margin-top: 20px;
}
@media screen and (min-width: $small) {
    .userItemCont{
        width: 100%;
        max-width: 328px;
    }
  }
@media screen and (min-width: $medium) {
    .userItemCont{
        &:nth-child(2n){
            margin-left: 16px;
        }
    }
  }
@media screen and (min-width: $big) {
.userItemCont{
    p{  
        display: block;
    }
    max-width: 282px;
    &:nth-child(2n){
        margin-left: 0px;
    }
    &:nth-child(3n+2){
        margin-left: 29px;
        margin-right: 29px;
    }
}
}
@media screen and (min-width: $superBig) {
    .userItemCont{
        max-width: 370px;
    }
}